.head-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: rgb(248, 255, 113);
}
.logo {
  width: 220px;
}
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
}
