<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>first.html의 타이틀 입니다.</title>
    <!-- 자체 타이틀이 있으면, head.html의 타이틀은 무시됨 -->

    <!--  head의 메타 정보를 넣음  -->
    <th:block th:replace="fragments/head :: headFragment" ></th:block>

</head>
<body>

    <!-- header의 메타 정보 -->
    <header th:replace="fragments/head :: headerFragment"  ></header>

    <p>first.html의 자체 콘텐츠</p>

    <!-- footer의 메타 정보 -->
    <footer th:replace="fragments/head :: footerFragment"  ></footer>

</body>
</html>